Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*
  readability-*,
  -altera-*,
  -hicpp-*,
  -llvmlibc-*,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -readability-use-identifier-length,
WarningsAsErrors: ''
HeaderFilterRegex: '^(main|components)/'
AnalyzeTemporaryDtors: false
FormatStyle: file