BasedOnStyle: LLVM
AlignAfterOpenBracket: AlwaysBreak
AllowShortIfStatementsOnASingleLine: Never
BinPackParameters: false
ColumnLimit: 100
IncludeBlocks: Regroup
IndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Language: Cpp
PointerAlignment: Left
SortIncludes: true